<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Mate+SC&family=Montserrat:wght@300;400&display=swap"
        rel="stylesheet">
    {%block head%}
    {%endblock%}
</head>

<body>
    {% include 'includes/navbar.html' %}

    {% with messages = get_flashed_messages(with_categories=true) %}
        
        {% if messages %}
            {% for categories, message in messages %}        
            <div class="alert alert-{{categories}}">
                {{message}}
            </div>       
            {% endfor %}
        {% endif %}
    {% endwith %}

    <div>
        {%block body%}
        {%endblock%}
    </div>

</body>

</html>