{% extends 'Base.html' %}

{% block head %}
<title>Changes Password</title>

{% endblock %}

{% block body %}

<div class="Login">
        <div class="c1">
            <img src="/static/Security-amico.svg" alt="">
        </div>

        <div class="c2">
        <h1 class='H-title'>Change Password</h1>
        <form method="post">

            <div class="form-group">
                <label for="basic-url" class='c1 F-title'>Password</label>
                
                    <input type="password" name="password" required='required' class="form-control c2"
                        aria-describedby="addon-wrapping">

            </div>

            <button type="submit" class="Pbutton">Change</button>

        </form>
        </div>
        


</div>

{% endblock %}