{% extends 'Base.html' %}

{% block head %}
<title>Login</title>

{% endblock %}

{% block body %}

<div class="Login">
        <div class="c2">
            <img src="/static/Security-amico.svg" alt="">
        </div>

        <div class="c1">
        <h1 class='H-title'>Log in</h1>
        <form method="post">
            <div class="form-group ">
                <label for="basic-url" class='F-title c1'>Username</label>

                <input type="text" required='required' name="uname" class="form-control c2" placeholder="Frost Head"
                        aria-describedby="addon-wrapping">

            </div>

            <div class="form-group">
                <label for="basic-url" class='c1 F-title'>Password</label>
                
                    <input type="password" name="password" required='required' class="form-control c2"
                        aria-describedby="addon-wrapping">

            </div>

            <button type="submit" class="Sbutton">Login</button>

        </form>
        </div>
        


</div>

{% endblock %}