{% extends 'Base.html' %}

{% block head %}
<title>Register</title>
{% endblock %}

{% block body %}
<div class="Register">


    <div class="c1">
        <h1 class='H-title'>Private Key</h1>
        <p>
            Here are your private keys, please keep them safe and never share them with any one. In case you forgot your master password or want to change the master password you'll need them. if you lose them you will lose you account</p>
        </p>
    </div>

    <div class="c2">
        
        <div class="keyinfo">
            <h2 class="F-title" >{{SecKey}}</h2>
        </div>
        <hr>
        
    </div>




</div>



{% endblock %}